body{
  margin: 0;
  padding: 0;
}

form{
  background-color: #b1cbbb;
  display: block;
  width: 200px;
  height: 200px;
  margin: 100px auto;
}

#buttonDiv{
  margin-top: 50px;
  text-align: center;

}

#inputButton{
  width: 60px;
  height: 20px;
}

h1{
  font-size: 20px;
  text-align: center;
  padding-top: 27px;
}

#nameDiv{
  text-align: center;
  margin-top: 40px;
}
